#logoHome {
    display: block;
    margin-top: 5px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
    width: 50%;

}



@media only screen and (max-width: 780px) {
    .navbar{
        background-color: white;
        font-size: 100%;
    }
}

* {
    color: #3d84a8
}

.colorClass {
    color: #3d84a8;
    margin-bottom: 30px;

}
.colorClassTwo {
    color: #3d84a8;


}

.time {
    font-size: 23px;
}

.time-container {
    display: flex;
    justify-content: center;
    text-align: center;
}

.position{
 justify-content: end;
}
.flex-container {
    display: flex;
    flex-wrap: wrap;
    border-top: 1px solid;
    justify-content: start;
}

.flex-container > div,p,TimerChild {
    width: 100px;
    margin: 10px;
    text-align: center;
}

.setRed{
    color: red;

    /*padding-left: 100%;*/
    font-size:50px;

}
.marginTop {
    margin-right: 50%;
    color: #3d84a8;

}
@media only screen and (max-width: 428px) {
    .marginTop {
        /*padding-top: 20%;*/
        /*margin-left: 20%;*/
        margin-right: 60%;

    }
    .setRed{
        color: red;
        margin-left: 50%;
        /*padding-left: 100%;*/
        font-size:35px;

    }
}
